<div class="main container-fluid">
	<div class="row">
		<div class="col-4" id="left-container">

			<img src="assets/current.jpeg" class="img-responsive">

			<div class="name">
				<div class="first-name">{{ cvInfo.firstName }}</div>
				<div class="last-name">{{ cvInfo.lastName }}</div>
			</div>

			<div class="general">
				<div class="about"><b>{{ cvInfo.degree }}</b><p [innerHtml]="cvInfo.about"></p></div>

				<div class="dotted-divider"></div>

				<div class="contacts">
					<div class="section-title">Contacto</div>
					<ng-container *ngFor="let contact of cvInfo.contactInfo">
						<div class="contact" *ngIf="contact.show">
							<i class="contact-icon" [class]="contact.icon"></i>
							<div class="contact-value">
								<a *ngIf="contact.link; else contactValue" [href]="contact.link" target="_blank">{{ contact.value }}</a>
								<ng-template #contactValue>
									{{ contact.value }}
								</ng-template>
							</div>
						</div>
					</ng-container>
				</div>

				<div class="dotted-divider"></div>

				<div class="about" [innerHtml]="cvInfo.resume"></div>
			</div>
		</div>

		<div class="col-8" id="right-container">
			<div class="row heading">
				<div class="col-1 icon"><i class="fa fa-briefcase"></i></div>
				<div class="col-11 title">experiencia</div>
			</div>
			<ng-container *ngFor="let experience of cvInfo.experience">
				<div class="row item">
					<div class="col-3">
						<div class="row">
							<div class="col-12 resume">{{ experience.position | uppercase }}</div>
							<div class="col-12 lapse">{{ experience.lapse }}</div>
						</div>
					</div>
					<div class="col-9">
						<div class="row">
							<div class="col-12 title-container"><div class="title">{{ experience.company }}</div><div class="sub-title">, {{ experience.location | uppercase }}</div></div>
							<div class="col-12 description" [innerHTML]="experience.description"></div>
						</div>
					</div>
				</div>
			</ng-container>

			<div class="row heading">
				<div class="col-1 icon"><i class="fa fa-graduation-cap"></i></div>
				<div class="col-11 title">formación</div>
			</div>
			<ng-container *ngFor="let institution of cvInfo.education">
				<div class="row item">
					<div class="col-3">
						<div class="row">
							<div class="col-12 resume">{{ institution.level | uppercase }}</div>
							<div class="col-12 lapse">{{ institution.graduated }}</div>
						</div>
					</div>
					<div class="col-9">
						<div class="row">
							<div class="col-12 title-container"><div class="title">{{ institution.degree }}</div></div>
							<div class="col-12 description" style="text-align: left;"><label>{{ institution.name }}</label>, <label>{{ institution.location | uppercase }}</label>. <label [innerHTML]="institution.description"></label></div>
						</div>
					</div>
				</div>
			</ng-container>

			<div class="row heading">
				<div class="col-1 icon"><i class="fa fa-coffee"></i></div>
				<div class="col-11 title">cursos y certificaciones</div>
			</div>
			<ng-container *ngFor="let course of cvInfo.courses">
				<div class="row item">
					<div class="col-3">
						<div class="row">
							<div class="col-12 resume">{{ course.summary | uppercase }}</div>
							<div class="col-12 lapse">{{ course.year }}</div>
						</div>
					</div>
					<div class="col-9">
						<div class="row">
							<div class="col-12 title-container"><div class="title">{{ course.name }}</div><div class="sub-title">, {{ course.institution | uppercase }}</div></div>
							<div class="col-12 description" [innerHTML]="course.description"></div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
